@model int

<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center m-2">
            <h3>Your monthly progress charts</h3>
        </div>

        @if (Model == 0)
        {
            <div class="row m-4">
                <h4>No data avaialble yet</h4>
            </div>
        }

    </div>
    @if (Model != 0)
    {
        <div class="row">
            <div class="col-12">
                <div class="card mt-3">
                    <div class="card-body pb-0">
                        <h5 class="text-muted">Points for habits realization daily</h5>
                        <div id="newHabitRealizationLineChart" data-colors='["--bs-warning","--bs-success"]'>
                        </div>
                        <div class="justify-content-center text-center chart-spinner" style="display:none">
                            <div class="spinner-border text-secondary" role="status">
                                <span class="visually-hidden">Loading</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @for (int i = 0; i < Model; i++)
        {
            <div class="row">
                <div class="col-12">
                    <div class="card mt-3">
                        <div class="card-body pb-0">
                            <h5 class="text-muted">Points for each habit realization daily</h5>
                            <div id="newRealizationLineChartForEachHabit_@i">
                            </div>
                            <div class="justify-content-center text-center chart-spinner" style="display:none">
                                <div class="spinner-border text-secondary" role="status">
                                    <span class="visually-hidden">Loading</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

</div>

@section scripts {
    <script type="text/javascript">
        var chartsQuantity = '@Model'; // Przypisanie parametru z modelu do zmiennej JavaScript
    </script>
    <script src="~/js/getAllHabitsRealizationLineChart.js"></script>
    <script src="~/js/getEachHabitRealizationLineChart .js"></script>
}