<div class="container-fluid">
    <div class="row">
        <div class="d-flex justify-content-center m-2">
            <h3>Your progress charts</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body pb-0">
                    <h5 class="text-muted">Total points for habits realization daily</h5>
                    <div id="newHabitRealizationLineChart" data-colors='["--bs-warning","--bs-success"]'>
                    </div>
                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-12">
            <div class="card mt-3">
                <div class="card-body pb-0">
                    <h5 class="text-muted">Points for each habit realization daily</h5>
                    <div id="newRealizationLineChartForEachHabit">
                    </div>
                    <div class="justify-content-center text-center chart-spinner" style="display:none">
                        <div class="spinner-border text-secondary" role="status">
                            <span class="visually-hidden">Loading</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/js/getAllHabitsRealizationLineChart.js"></script>
    <script src="~/js/getEachHabitRealizationLineChart .js"></script>
}