@model List<string>

<form asp-action="ChooseHabits" asp-controller="Habit" method="post">

    <div class="row">
        <h2 class="m-3">
            Choose a habit from random suggestions below
        </h2>
        @foreach (var habit in Model)
        {
            <div class="form-check m-1">

                <input type="checkbox" name="habitNames" value="@habit" />

                <label class="form-check-label">
                    <p class="lead">@habit </p>
                </label>
            </div>
        }

    </div>

    <button type="submit" class="btn btn-primary m-4" width="50">Submit</button>
    <a asp-controller="HabitRealization" asp-action="HabitsCurrentWeek" class="btn btn-primary">
        Back to List
    </a>
</form>

