@model List<WeekYear>
<head>
</head>

<body>
    <h2 class="py-2 text-center">Your habits history</h2>
    <h4 class="py-2"> Choose week to view </h4>
    <div class="col-9">
        <table class="table table-bordered container-lg" style="text-align: center">
            <thead>
                <tr>
                    <th style="width:30%">Week number</th>
                    <th style="width:30%">Year</th>
                    <th style="width:20%"></th>
                </tr>
            </thead>
            <tbody>

                @foreach (var weekYear in Model)
                {
                    <tr>
                        <td>@weekYear.Week</td>
                        <td>@weekYear.Year</td>
                        <td>
                            <a asp-controller="HabitRealization" asp-action="HabitsWeekly" asp-route-week="@weekYear.Week" asp-route-year="@weekYear.Year" class="btn btn-outline-primary">
                                View
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</body>
