@model List<WeekYear>
<head>
</head>

<body>
    <div class="container">
        <h2 class="py-4 text-center">Your habits history</h2>
        <div class="row justify-content-center">

            <div class="col-md-9">
                <table class="table table-bordered container-lg mx-auto" style="text-align: center">
                    <thead>
                        <tr>
                            <th style="width:30%">Week number</th>
                            <th style="width:30%">Year</th>
                            <th style="width:20%"></th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var weekYear in Model)
                        {
                            <tr>
                                <td>@weekYear.Week</td>
                                <td>@weekYear.Year</td>
                                <td>
                                    <a asp-controller="HabitRealization" asp-action="HabitsWeekly" asp-route-week="@weekYear.Week" asp-route-year="@weekYear.Year" class="btn btn-outline-primary w-100">
                                        View
                                    </a>
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>

    </div>


</body>
