@model Habit

@if (Model.Id == 0)
{
    <h2 class="py-4 px-2">Create habit</h2>
}
else
{
    <h2 class="py-4 px-2">Update habit</h2>
}


<form method="post">
    <input asp-for="@Model.Id" hidden />
    <div class="col-lg-6">
        <div class="form-floating m-2">
            <input asp-for="Name" class="form-control"></input>
            <label asp-for="Name" class="text-dark"></label>
            <span asp-validation-for="Name" class="text-primary"></span>
        </div>
        <button type="submit" class="btn btn-primary m-2 w-25">Update</button>
        <a asp-controller="Habit" asp-action="Index" class="btn btn-primary w-25">
            Back to List
        </a>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}