@model HabitsCurrentWeekVM
<head>

</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-4 py-4">
                <div class="card mb-3  border-primary" style="max-width: 50rem;">
                    <div class="card-header d-flex justify-content-center"><h3> Your score</h3></div>
                    <div class="card-body d-flex justify-content-center">
                        <h5 class="card-title">
                            <span class="mx-1">
                                Week: @Model.numberOfWeeks
                            </span>
                            <span id="level" class="mx-1">
                                Level: @Model.score.LevelId
                            </span>
                            <span id="score" class="mx-1">
                                Points: @Model.score.ScoreValue
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h2 class="py-2 px-3">Scoring rules:</h2>
            <ul>
                <li class="my-2">You gain 10 points for every, daily habit execution (icon: <i class="bi bi-check-square-fill"></i>)</li>
                <li class="my-2">If habit is executed partially (icon <i class="bi bi-check-square"></i>) you gain 5 points </li>
                <li class="my-2">For every weekly goal achieved you gain 50 points</li>
                <li class="my-2">To advance to the next level you need to have 500 points</li>
            </ul>
        </div>


    </div>

</body>
