<head>

</head>
<body>
    <div>
        <h3 class="m-3">Scoring rules:</h3>
        <ul>
            <li>You gain 10 points for every, daily habit execution (icon: <i class="bi bi-check-square-fill"></i>)</li>
            <li>If habit is executed partially (icon <i class="bi bi-check-square"></i>) you gain 5 points </li>
            <li>For every weekly goal achieved you gain 50 points</li>
            <li>To advance to the next level you need to have 500 points</li>
        </ul>

    </div>

</body>
