@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-5 m-lg-5">
    <div class="row">
        <div class="col-lg-4 m-3 d-flex align-items-center text-center">
            <div class="row">
                <h3 class="m-2">
                    Habit tracker will help you
                </h3>
                <h3 class="m-2">
                    track habits you'd like
                </h3>
                <h3 class="m-2">
                    to develop.
                </h3>
            </div>
        </div>
        <div class="col-lg-6 my-5 m-lg-5">
            <div class="row">
                <img src="~/images/habit.png" class="w-100" />
            </div>
        </div>
    </div>
</div>
